= turbo_frame_tag task do
  .row
    .col-sm-1      
      = link_to toggle_done_task_path(task), data: { turbo_method: 'patch' }, title: 'Toggle', class: 'text-decoration-none link-dark' do 
        = tag.i class: "bi bi#{'-check' if task.done}-square"
    .col-sm-4{ class: ('text-decoration-line-through' if task.done)}
      = link_to edit_task_path(task), title: 'Edit', class: 'text-decoration-none link-dark' do 
        = task.title
    .col-sm-2    
      = link_to task, data: { turbo_method: :delete }, title: 'Destroy' do
        %i.bi.bi-trash
