= turbo_frame_tag task do
  .row.border-top.mt-2.pt-2
    .col-1      
      = link_to toggle_done_task_path(task), data: { turbo_method: 'patch' }, title: 'Toggle', class: 'text-decoration-none link-dark' do 
        = tag.i class: "bi bi#{'-check' if task.done}-square"
    = link_to edit_task_path(task), title: 'Edit', class: "col-10 text-decoration-none #{'text-decoration-line-through' if task.done} link-dark" do 
      = task.title
    .col-1    
      = link_to task, data: { turbo_method: :delete }, title: 'Destroy' do
        %i.bi.bi-trash.fs-5
