= turbo_frame_tag task do
  .row
    .col-sm-1= tag.i class: "bi bi#{'-check' if task.done}-square"
    .col-sm-4{ class: ('text-decoration-line-through' if task.done)}= task.title
    .col-sm-2
      = link_to task, title: 'Show' do 
        %i.bi.bi-eye
    
      = link_to edit_task_path(task), title: 'Edit' do 
        %i.bi.bi-pencil
    
      = link_to task, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, title: 'Destroy' do
        %i.bi.bi-trash
