.modal-header
  %h5.modal-title
    = @album.persisted? ? 'Edit' : 'New'
    Album
  %button.close{data: {dismiss: "modal"}} ×

= simple_form_for @album, data: {action:'ajax:complete->albums#submit'}, remote: true do |f|
  .modal-body
    = render partial: 'layouts/form_errors', locals: { form: f }

    .form-inputs
      = f.input :name

  .modal-footer
    %button.btn.btn-secondary{data: {dismiss: "modal"}, type: "button"} Close
    = f.submit 'Save', class: 'btn btn-primary'
