.modal-header
  %h5.modal-title
    = @album.persisted? ? 'Edit' : 'New'
    Album
  %button.close{data: {dismiss: "modal"}} ×

= form_for @album, remote: true do |f|
  = render partial: 'layouts/errors', locals: { errors: @album.errors }

  .modal-body
    .field
      = f.label :name
      = f.text_field :name
  .modal-footer
    %button.btn.btn-secondary{data: {dismiss: "modal"}, type: "button"} Close
    = f.submit 'Save', class: 'btn btn-primary'
